// Colors
$primary-color-text: #fff;

// for heading
$heading-title-color: #333;
$heading-caption-color: #333;
$heading-text-color: #999;

// for text and icon
$pink-color: #f38181;
$gold-color: #fce38a;
$aqua-color: #95e1d3;
$lighty-green: #eaffd0;

// border and inpunt, button
$border-mastfoot-color: #e5e5e5;
$border-color-input-subscribe: #e7e7e7;
$placeholder-color-subcribe: #ccc;
// Fonts
