// Variables
// Colors

$default-text-color: #000;

// --background colors
$main-background-color: #fff;
$header-top-bgc: rgb(67, 67, 67);
$header-middle-bgc: rgb(54, 54, 54);
$main-menu-bgc: #fff;
// --text colors
$white-text-color: #fff;

// --box colors

// --button colors
$white-color: #fff;
