
/*                         */
/*    <--- GALLERY --->    */
/*                         */

.title {
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 46px;
  color: #263555;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  position: relative;
  height: 155px;
  margin-bottom: 40px;
  flex: 0 0 30%;
}
.gallery-item:nth-last-child(1), .gallery-item:nth-last-child(2), .gallery-item:nth-last-child(3) {
  margin-bottom: 0;
}
.img-card {
  width: 100%;
  height: 100%;
}
.img-card:hover>.preview {
  display: flex;
}
.preview {
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(68, 68, 68, 0.556);
}

img {
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  position: relative;
}

img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
}
img:hover > img::after {
  display: inline-block;
position: absolute;
font-family: 'Material Design Icons';
content: '&#xF6EC;';
background-color: rgba(0, 0, 0, 0.4);

}

.icon-zoom {
  font-family: 'Material Design Icons';
  color: #fff;
  font-size: 50px;
  opacity: .7;
}
