*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.card-place {
  display: grid;
  height: 100%;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Filter Card List";
}

.filter {
  grid-area: Filter;
}

.shoping-card {
  grid-area: Card List;
}

.form h2 {
  padding-left: 20px;
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgb(42, 42, 42);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.357;
  text-align: left;
}

.list {
  list-style: none;
}

.form li {
  padding-left: 10%;
}

.form input {
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
}

.form input:checked {
  margin-left: 5px;
}

.form button {
  width: 45%;
  height: 30px;
  margin-top: 15px;
  margin-left: 3%;
  font-size: 18px;
  text-transform: uppercase;
}
.shoping-card {
  margin-left: 15px;
padding: 30px;
border-left: 1px solid #000000;
}
.list-card {
  display: grid;
  grid-gap: 25px 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  grid-template-rows: 500px;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: rgba(244, 245, 247, 0.3);
  box-shadow: 0 0 8px rgba( 0, 0, 0, 0.5);
}

.card-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000000;
}

.card-image {
  padding: 30px;
}

.card-tech {
  font-size: 14px;
  font-weight: 300;
}

.card-tech span {
  display: block;
}

.card-descr {
  width: 100%;
  height: 80px;
  font-size: 14px;
  overflow: hidden;
}

.card-price {
  text-align: right;
  font-size: 24px;
  margin: 10px 0;
}
