body {
  padding-bottom: 238px;
  font-family: 'Open Sans Condensed', 'Pathway Gothic One', 'Dorsa', Arial, sans-serif;
  background-image: url(../img/bg-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}


/* Header */

.header {
  position: relative;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 110px;
  width: 1024px;
  text-align: center;
}

.logo {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translate(-50%, -40%);
}

.logo-link {
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 138px;
  height: 138px;
  line-height: 138px;
  font-size: 60px;
  font-family: "Dorsa", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.logo-link {
  color: rgb(38, 53, 85);
  text-decoration: none;
}

.menu-item {
  display: inline-block;
  position: relative;
  margin-right: 54px;
}

.menu-item:nth-child(3) {
  margin-right: 246px;
}

.menu-link {
  font-size: 28px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
}

.menu-link:hover,
.submenu-link:hover {
  color: #263555;
}

.menu-item:nth-last-child(1) {
  margin-right: 0px;
}

.submenu {
  display: none;
  padding: 9px;
  position: absolute;
  left: 26px;
  top: 80px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 2px;
}

.submenu::before {
  text-align: center;
  content: '';
  position: absolute;
  top: -1px;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent #ffffff transparent;
}

.submenu-item {
  margin-bottom: 9px;
}

.submenu-item:nth-last-child(1) {
  margin-bottom: 0;
}

.submenu-link {
  font-size: 20px;
  font-family: 'PathwayGothicOne';
  color: rgb(107, 116, 136);
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  text-decoration: none;
}

.menu-item:hover>.submenu {
  display: block;
}


/* CONTENT */

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  background-color: #ffffff;
  padding: 58px 61px 136px 61px;
}

/* Arrow Return to TOP Page */

.return-top {
  position: fixed;
  right: 170px;
  bottom: 50px;
  text-align: center;
  line-height: 30px;
}

.return-top-link {
  display: block;
  color: #ffffff;
  width: 30px;
  height: 30px;
  font-size: 24px;
  background-color: #38afe5;
  border-radius: 50%;
}
/* SLIDER */

.slider {
  position: relative;
  width: 100%;
  height: 579px;
  margin-bottom: 58px;
}

.slider-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-first {
  display: block;
  background-color: #ffffff;
  width: 225px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 23px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: rgb(38, 53, 85);
  text-transform: uppercase;
}

.text-second {
  display: block;
  background-color: #38afe5;
  width: 275px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 36px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.slider-img {
  width: 100%;
  height: 100%;
}

.slider-controll {
  position: absolute;
  left: 37px;
  bottom: 37px;
  width: 90px;
  height: 90px;
  font-size: 0;
}

.ctrl-left,
.ctrl-right {
  display: inline-block;
  line-height: 90px;
  width: 45px;
  font-size: 20px;
  color: #ffffff;
  background-color: #38afe5;
}

.ctrl-left:hover,
.ctrl-right:hover {
  background-color: #263555;
}

.ctrl-left {
  padding-right: 6px;
  text-align: right;
  border-radius: 100px 0 0 100px;
}

.ctrl-right {
  padding-left: 6px;
  border-radius: 0 100px 100px 0;
}


/* Top Destinations */

.top-dest {
  font-size: 0;
}

.top-dest-title {
  font-size: 30px;
  font-family: 'Pathway Gothic One';
  color: rgb(38, 53, 85);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 47px;
}

.top-dest-card {
  position: relative;
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  font-size: 0;
}

.top-dest-card:hover>.description {
  display: block;
}

.top-dest-card:nth-last-child(1) {
  margin-right: 0;
}

.description {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  padding: 21px 8px;
  background-color: #193149;
  width: 147px;
  height: 270px;
}

.description:last-child {
  text-align: right;
}

.card-title {
  margin-bottom: 21px;
  font-size: 30px;
  font-family: 'Open Sans Condensed';
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.card-descr {
  text-align: justify;
  text-justify: inter-word;
  font-size: 10px;
  font-family: Arial;
  color: rgb(203, 198, 198);
  line-height: 15px;
  -webkit-font-smoothing: none;
}

.card-btn {
  margin-top: 12px;
  padding: 1px 12px;
  font-size: 12.5px;
  font-family: Arial;
  color: rgb(0, 0, 0);
  line-height: 1.52;
  border: 1px solid #9f9696;
  border-radius: 8%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}


