{
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-new": 0,
    "prettier/prettier": "error",
    "max-len": [1, 80, 2, {
      "ignoreComments": true
    }],
    "jsx-quotes": ["error", "prefer-single"],
    "arrow-parens": "off"
  },
  "extends": ["eslint:recommended", "airbnb-base"]
}
