/* RESET */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
}

.list--reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.btn--reset {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
}

/* Container Section */

.container {
  max-width: 1200px;
  margin: auto;
}

/* MASTHEAD wrapper */

/* background */

.masthead-wrap {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81))), url(../img/masthead-bg.png);
  background: -webkit-linear-gradient(bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%), url(../img/masthead-bg.png);
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%), url(../img/masthead-bg.png);
  background: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%), url(../img/masthead-bg.png);
  background-blend-mode: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min-resolution: 144dpi) {
  .masthead-wrap {
    background-image: url("../img/masthead-bg@1,5x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .masthead-wrap {
    background-image: url("../img/masthead-bg@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 5),
(-o-min-device-pixel-ratio: 5/1),
(min-resolution: 480dpi),
(min-resolution: 5dppx) {
  .masthead-wrap {
    background-image: url("../img/masthead-bg@5x.png");
  }
}

.banner {
  min-height: 1000px;
}

/* header */

.masthead {
  margin-bottom: 164px;
}

.masthead__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  min-height: 65px;
}

/* header logo */

.logo {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: -4px;
}

.logo:hover {
  color: #fce38a;
}

.nav__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 95px;
  flex: 0 0 95px;
  margin-right: 492px;
}

.logo__letter--big {
  text-transform: uppercase;
}

/* header navigation menu */

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 490px;
  flex: 0 0 490px;
  margin-right: 52px;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 12px 0;
  border-bottom: 3px solid transparent;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  border-bottom-color: #fce38a;
  color: #fce38a;
}

/* header user-navigation */

.nav__user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user-navigation {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75px;
  flex: 0 0 75px;
}

.user-navigation__link {
  display: inline-block;
  text-decoration: none;
}

.user-navigation__icon {
  fill: #fff;
}

.user-navigation__link:hover>.user-navigation__icon {
  fill: #fce38a;
}

/* Hero */

.hero {
  text-align: center;
}

.hero--size {
  max-width: 821px;
}

.hero--position {
  margin: auto;
}

.hero__caption {
  display: block;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
  font-weight: 400;
}

.hero__title {
  margin-top: 42px;
  margin-bottom: 125px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 145px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
}

.hero__btn {
  display: block;
  margin: auto;
  width: 164px;
  height: 44px;
  line-height: 40px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #fff;
}

/* Header for section's */

.section__header {
  text-align: center;
}

.header__caption {
  display: block;
  color: #333;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 23px;
}

.header__title {
  margin: 0;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__title::after {
  display: block;
  content: '';
  width: 60px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
  background-color: #f38181;
}

.header__text {
  margin: 0;
  margin-top: 46px;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

/* Section SERVICES */

.services {
  padding-top: 46px;
}

/* servicer list */

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 65px;
}

.services__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3);
  flex: 0 0 calc(100% / 3);
  min-height: 70px;
  padding-left: 30px;
  margin-bottom: 100px;
}

.services__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.services__icons {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.services__icon {
  fill: #95e1d3;
}

.services__title {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__description {
  margin: 0;
  margin-left: calc(32px + 30px);
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

/* Section TEAM */

.team {
  padding-top: 90px;
  padding-bottom: 83px;
}

/* team list */

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 92px;
}

.team__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.team-card {
  background-color: #95e1d3;
}

.team-card:hover .team-card__content {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}

.team-card:hover .team-card__content::after {
  opacity: 1;
}

.team-card:hover .team-card__icons {
  opacity: 1;
}

.team-card__content {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.team-card__content::after {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  content: '';
  background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(252, 227, 138, 0.81)), to(rgba(243, 129, 129, 0.81)));
  background-image: -webkit-linear-gradient( bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  background-image: -o-linear-gradient( bottom, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  background-image: linear-gradient( to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team-card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.team-card__icon {
  display: inline-block;
  margin-right: 1px;
  width: 56px;
  height: 56px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #fce38a;
}

.team-card__icon:last-child {
  margin-right: 0;
}

.team-card__icon:hover {
  background-color: #f38181;
}

.team-card__icon:hover>svg {
  fill: #fff;
}

.team-card__icon>svg {
  display: inline-block;
  height: 26px;
  width: 26px;
  fill: #f38181;
}

.team-card__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 31px 0;
  background-color: #ffffff;
}

.team-card__name {
  display: block;
  margin-bottom: 16px;
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.team-card__pos {
  display: block;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

/* Mastfoot - footer */

.mastfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid #e5e5e5;
}

.copy__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.copy__design-link {
  color: #f38181;
  text-decoration: none;
}

.mastfoot__form {
  font-size: 0;
}

.subscribe__input {
  width: 230px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  outline: 0;
  padding: 10px 12px;
  color: #ccc;
}

.subscribe__input::-webkit-input-placeholder {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.subscribe__input:-ms-input-placeholder {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.subscribe__input::-ms-input-placeholder {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.subscribe__input::placeholder {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.subscribe__btn {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}