*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.clock {
  margin-bottom: 50px;
  background-color: #f2f2f2;
  position: relative;
  width: 400px;
  height: 400px;
  border: 10px solid #fff;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
  text-align: center;
  padding-top: 40px;
}

.clock::after {
  content: "";
  position: absolute;
  background-color: #fff;
  color: #fff;
  left: 170px;
  top: -40px;
  border-width: 20px 30px 30px 10px;
  border-style: solid;
  background-color: #fff #fff #fff #fff;
}

.time {
  flex: 0 0 100%;
  font-size: 82px;
  text-align: center;
  line-height: 1;
}

.btn {
  width: 130px;
  height: 100px;
  border-width: 2px;
  border-radius: 50%;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;;
}

.btn:focus {
  outline: none;
  background-color: #f2f2f2;
}

.laps {
  margin: auto;
  list-style: none;
  max-height: 100px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  counter-reset: section;
}

.laps li::before {
  counter-increment: section;
  content: counter(section)". ";
}
